name: Build and Package - MacOS

# on: [push, pull_request, workflow_dispatch]
on: [workflow_dispatch]

jobs:
  build-for-macos:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-12, macos-14] # 12=x86, 14=M1
    uses: ./.github/workflows/build-macos-reusable.yml
    with:
      os: ${{ matrix.os }}
    secrets: inherit
